@use "global/mixins.scss" as *;
.how-it-works__container {
  padding-top: 20px;
  padding-bottom: 50px;
  @media (min-width: $tablet-min-width) {
    padding: 45px 0;

  }
}


.how-it-works__title {
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  text-align: left;
  margin: 0;
}

.how-it-works__list {
  @include list-zero;
  color: #000;
font-family: Oswald;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 36px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-auto-flow: row;
  @media (min-width: $tablet-min-width) {
    display: grid;
    grid-template-columns: 230px 245px;
    grid-template-rows: 247px 250px;
    column-gap: 182px;
    row-gap: 37px;
    column-gap: 20%;
  }
  @media (min-width: $desktop-min-width) {
    grid-template-columns: 245px 245px 245px 245px 249px;
    grid-template-rows: auto;

  }
}

.how-it-works{
  margin: 20px;
  margin-bottom: 50px;
}

.how-it-works__item {
  margin-left: 20px;
  margin-bottom: 20px;
  display: flex;
  position: relative;
  @media (min-width: $tablet-min-width) {
    display: block;
  }
  @media (min-width: $tablet-min-width) {
    padding: 0;
    padding-left: 0;
    min-height: 280px;
    min-width: 230px;
  }
}

.how-it-works__number {
  display: none;
  @media (min-width: $tablet-min-width) {
  color: #F2F2F2;
  font-family: Oswald;
  font-size: 280px;
  position: absolute;
  top: 85px;
  margin: 0;
  right: 0;
  display: flex;
  justify-content: center;
  width: 134px;
  }
}

.how-it-works__text {
  position: relative;
  color: #444;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  @media (min-width: $tablet-min-width) {
    font-size: 16px;
  }
}


.how-it-works__text {
  margin: 0;
}


.how-it-works__icon {
  margin-right: 20px;
  min-width: 60px;
  min-height: 60px;
  @media (min-width: $tablet-min-width) {
    min-width: 80px;
    min-height: 80px;

  }

}

.how-it-works__svg {
  min-width: 60px;
  min-height: 60px;
  @media (min-width: $tablet-min-width) {
    min-width: 80px;
    min-height: 80px;

  }

}






